<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gestionnaire de tâches - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('app.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <div id="app">
    <header class="app__header">
      <h1 class="app__header--title">Gestionnaire de tâches</h1>
    </header>
    <nav class="app__nav">
      {% block nav %}{% endblock %}
    </nav>

    {% block body %}{% endblock %}

    <div class="hidden js-modal-template">
      {% block modal %}{% endblock %}
    </div>
    <div class="hidden overlay js-overlay"></div>

    <div class="hidden loading js-loading">Loading</div>
  </div>

  <script type="text/javascript" src="{{ asset('app.js') }}"></script>
</body>
</html>