{% extends 'base.html.twig' %}

{% set themeColor = 'nephritis' %}

{% block body %}
  <div class="card">
    <header class="card__header bg-{{ themeColor }}">
      <h2 class="card__header--title">Listes</h2>
    </header>

    <div class="list">
      {% if taskLists is empty %}
        <p class="list--empty">Aucune liste</p>
      {% endif %}
      {% for taskList in taskLists %}
        <div class="list__item">
          <a href="{{ path('list_show', { 'id': taskList.id }) }}" class="list__item__header">
            <p class="list__item--title">{{ taskList.name }} <span class="badge{{ taskList.tasks.count > 0 ? ' badge-orange' : '' }}">{{ taskList.tasks.count }} tâche{{ taskList.tasks.count > 1 ? 's' : '' }}</span></p> 
          </a>
          {{ form_start(deleteListForms[taskList.id], {'attr': {'class': 'js-remove-list list__item__actions', 'data-list-name': taskList.name}}) }}
            <button type="submit" class="btn btn-alizarin btn-no-height btn-icon" data-tooltip="Supprimer"><i class="icon-trash"></i></button>
          {{ form_end(deleteListForms[taskList.id]) }}
        </div>
      {% endfor %}
    </div>

    <footer class="card__footer bg-{{ themeColor }}">
      {{ form_start(newListForm, {'attr': {'class': 'form text-white form-inline' }}) }}
        <h3 class="form--title">Créer une nouvelle liste</h3>
        {% if newListFormError is defined %}
          <div class="form--error">{{ newListFormError }}</div>
        {% endif %}
        {{ form_widget(newListForm, {'attr': {'class': 'form__group'}}) }}
        <div class="form__footer text-right">
          <button type="submit" class="btn btn-phantom">Créer la liste</button>
        </div>
      {{ form_end(newListForm) }}
    </footer>
  </div>
{% endblock %}

{% block modal %}
  <div class="modal" name="remove_list">
    <header class="modal__header">
      <h2 class="modal--title js-modal-title">Voulez-vous vraiment supprimer la liste "#1" ?</h2>
    </header>
    <div class="modal__content">
      <p><i class="icon-warning"></i>Cette action est irréversible</p>
    </div>
    <footer class="modal__footer">
      <button type="cancel" class="btn btn-phantom js-cancel-button">Annuler</button>
      <button type="submit" class="btn btn-alizarin js-submit-button">Supprimer la liste</button>
    </footer>
  </div>
{% endblock %}