{% extends 'base.html.twig' %}

{% set themeColor = 'nephritis' %}

{% block title %}{{ realName }}{% endblock %}

{% block nav %}
  <a class="btn btn-asphalt" href="{{ path('list_index') }}">&laquo; Retour à la liste des tâches</a>
{% endblock %}

{% block body %}
  <div class="card">
    <header class="card__header bg-{{ themeColor }}">
      <h2 class="card__header--title js-title-rename">{{ realName }}</h2>
      <div class="hidden form-rename-list js-edit-form">
        {{ form_start(editListForm, {'attr': {'class': 'form text-white form-inline' }}) }}
          {% if editListFormError is defined %}
            <div class="form--error">{{ editListFormError }}</div>
          {% endif %}
          {{ form_widget(editListForm, {'attr': {'class': 'form__group'}}) }}
          <div class="form__footer text-right">
            <button type="submit" class="btn btn-phantom">Renommer</button>
          </div>
        {{ form_end(editListForm) }}
      </div>
      <button type="button" class="btn btn-phantom btn-rename-list js-edit-list{% if editListFormError is defined %} autoclick{% endif %}" data-text="Renommer la liste|Annuler">Renommer la liste</button>
    </header>

    <div class="list">
      {% if taskList.tasks is empty %}
        <p class="list--empty">Aucune tâche</p>
      {% endif %}
      {% for task in taskList.tasks %}
        <div class="list__item">
          <div class="list__item__actions list__item__actions__rounded">
            <a class="btn btn-no-height btn-phantom btn-asphalt btn-icon {{ task.done ? 'text-asphalt-hover' : 'text-white' }}" href="{{ path('task_edit', { 'id': task.id, 'status': task.done ? false : true }) }}"><i class="icon-check"></i></a>
          </div>
          <div class="list__item__header">
            <h2 class="list__item--title">{{ task.title }} <span class="badge{{ task.done ? ' badge-orange' : '' }}">{{ task.done ? 'Fait' : 'À faire' }}</span></h2>
          </div>
          <div class="list__item__actions">
            <a class="btn btn-no-height btn-orange btn-icon" href="{{ path('task_edit', { 'id': task.id }) }}" data-tooltip="Editer"><i class="icon-edit"></i></a>
          </div>
        </div>
      {% endfor %}
    </div>

    <footer class="card__footer bg-{{ themeColor }}">
      <div class="flex">
        {% if countTasksDone > 0 %}
          <div>
            <a class="btn btn-alizarin js-remove-all-tasks" href="{{ path('list_delete_all_tasks', { 'id': taskList.id }) }}">Supprimer toutes les tâches faites</a>
          </div>
        {% endif %}
        <div class="text-right flex-grow">
          <a class="btn btn-phantom" href="{{ path('task_new', { 'listReferer': taskList.id}) }}">Créer une nouvelle tâche</a>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}

{% block modal %}
  <div class="modal" name="remove_all_from_list">
    <header class="modal__header">
      <h2 class="modal--title">Voulez-vous vraiment supprimer toutes les tâches faites de la liste "{{ realName }}" ?</h2>
    </header>
    <div class="modal__content">
      <p><i class="icon-warning"></i> Cette action est irréversible</p>
      <br />
      <p>Les tâches suivantes seront supprimées :</p>
      <ul class="clean-list">
        {% for task in taskList.tasks %}{% if task.done %}
          <li>{{ task.title }}</li>
        {% endif %}{% endfor %}
      </ul>
    </div>
    <footer class="modal__footer">
      <button type="cancel" class="btn btn-phantom js-cancel-button">Annuler</button>
      <button type="submit" class="btn btn-alizarin js-submit-button">Supprimer les tâches</button>
    </footer>
  </div>
{% endblock %}