{% extends 'base.html.twig' %}

{% set themeColor = 'nephritis' %}

{% block title %}Editer la tâche{% endblock %}

{% block nav %}
  <a class="btn btn-asphalt" href="{{ path('list_show', { 'id': task.taskList.id }) }}">&laquo; {{ task.taskList.name }}</a>
{% endblock %}

{% block body %}
  <div class="card">
    <header class="card__header bg-{{ themeColor }}">
      <h2 class="card__header--title">Editer la tâche</h2>
    </header>

    <div class="card__content">
      {{ form_start(edit_form, {'attr': {'class': 'form form-inline form-inline-table js-edit-task-form' }}) }}
        {{ form_widget(edit_form, {'attr': {'class': 'form__group'}}) }}
      {{ form_end(edit_form) }}
    </div>
    
    <footer class="card__footer bg-{{ themeColor }}">
      <div class="flex">
        <div>
          {{ form_start(delete_form, {'attr': {'class': 'js-remove-task'}}) }}
            <button type="submit" class="btn btn-alizarin">Supprimer la tâche</button>
          {{ form_end(delete_form) }}
        </div>
        <div class="text-right flex-grow">
          <button type="submit" class="btn btn-phantom js-edit-task-button">Editer la tâche</button>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}

{% block modal %}
  <div class="modal" name="remove_task">
    <header class="modal__header">
      <h2 class="modal--title">Voulez-vous vraiment supprimer la tâche "{{ task.title }}" ?</h2>
    </header>
    <div class="modal__content">
      <p><i class="icon-warning"></i> Cette action est irréversible</p>
    </div>
    <footer class="modal__footer">
      <button type="cancel" class="btn btn-phantom js-cancel-button">Annuler</button>
      <button type="submit" class="btn btn-alizarin js-submit-button">Supprimer la tâche</button>
    </footer>
  </div>
{% endblock %}