{% extends 'base.html.twig' %}

{% set themeColor = 'nephritis' %}

{% block title %}Créer une tâche{% endblock %}

{% block nav %}
  {% if listReferer is defined %}
    <a class="btn btn-asphalt" href="{{ path('list_show', { 'id': listReferer.id }) }}">&laquo; {{ listReferer.name }}</a>
  {% else %}
    <a class="btn btn-asphalt" href="{{ path('list_index') }}">&laquo; Retour à la liste des tâches</a>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="card">
    {{ form_start(form) }}
      <header class="card__header bg-{{ themeColor }}">
        <h2 class="card__header--title">Créer une tâche</h2>
      </header>

      <div class="card__content">
        <div class="form form-inline form-inline-table js-edit-task-form">
          {{ form_widget(form, {'attr': {'class': 'form__group'}}) }}
        </div>
      </div>
      
      <footer class="card__footer bg-{{ themeColor }}">
        <div class="text-right">
          <button type="submit" class="btn btn-phantom">Créer la tâche</button>
        </div>
      </footer>
    {{ form_end(form) }}
  </div>
{% endblock %}
