.badge {
  display      : inline-block;
  border-radius: 5px;
  padding      : 2px 5px;
  color        : white;
  background   : $silver;
  margin       : 0 5px;

  &-orange { background: $orange; }
}