@mixin setBtnColor ($color) {
  background: $color;

  &:hover { background: darken($color, 10%); }

  &.btn-phantom {
    color       : $color;
    border-color: $color;
    background  : none;

    &:hover {
      color     : white;
      background: $color;
    }
  }
}

.btn {
  display        : inline-block;
  border-radius  : 0;
  border         : 0;
  background     : none;
  font-size      : 14px;
  font-family    : inherit;
  text-decoration: none;
  padding        : 5px 10px;
  cursor         : pointer;
  height         : 30px;
  transition     : .2s;
  color          : white;
  background     : $silver;
  border         : 2px solid transparent;

  &:hover { background: darken($silver, 15%); }

  &-no-height { height: auto; }

  &-phantom {
    border-color: white;
    background  : none;

    &:hover { background: rgba(0, 0, 0, .2); }
  }

  &-nephritis { @include setBtnColor($nephritis); }
  &-alizarin { @include setBtnColor($alizarin); }
  &-asphalt { @include setBtnColor($asphalt); }
  &-orange { @include setBtnColor($orange); }

  &-icon {
    display        : flex;
    align-items    : center;
    justify-content: center;
  }
}

.btn-rename-list { margin-top: 10px; }