.card {
  width     : 600px;
  background: white;
  box-shadow: 0 0 20px $silver;

  &__header {
    position: relative;
    padding : 15px 20px;

    &--title {
      color    : white;
      font-size: 20px;
    }
  }

  &__content { padding: 15px 20px; }

  &__footer { padding: 15px 20px; }
}