.form {

  &--title {
    width         : 100%;
    padding-bottom: 5px;
    margin-bottom : 20px;
    border-bottom : 2px solid white;
    font-size     : 18px;
  }

  &--error {
    color        : $pomegranate;
    font-weight  : bold;
    width        : 100%;
    margin-bottom: 10px;
  }

  label {
    display    : flex;
    align-items: center;
    padding    : 5px 0;
    font-size  : 14px;
    height     : 30px;
  }

  input {
    border    : 0;
    background: white;
    padding   : 5px 10px;
    height    : 30px;
  }

  &__group { margin-bottom: 10px; }

  &-inline {
    display  : flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      margin: 0 10px 0 0;
    }

    .form__group { margin: 0; }

    .form__footer { flex-grow: 1; }

    &-table {
      width: 100%;

      .form__group {
        width: 100%;

        & > * {
          display: flex;
          align-items: center;
          padding: 5px 10px;

          label { flex-grow: 1; }

          &:nth-child(odd) { background: rgba(0, 0, 0, .05); }

          &:not(:last-child) { margin-bottom: 5px; }
        }
      }
    }
  }

  &:not(.text-white) input:not([type=submit]) { border: 1px solid $asphalt; }
}

.form-rename-list label { display: none; }