@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

a { color: inherit; }

#app {
  position      : relative;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  min-height    : 100vh;
  background    : $clouds;
  font-family   : 'Roboto', sans-serif;
  font-size     : 14px;
}

.app__header {
  background   : $asphalt;
  width        : 100%;
  margin-bottom: 40px;

  &--title {
    color    : white;
    padding  : 10px 20px;
    font-size: 25px;
  }
}

.app__nav {
  position  : relative;
  z-index   : 1;
  width     : 600px;
  padding   : 10px 0;
}

.overlay:not(.hidden) {
  position  : fixed;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
  z-index   : 1;
  content   : '';
  background: rgba(0, 0, 0, .9);
}

.loading:not(.hidden) {
  position       : fixed;
  top            : 0;
  left           : 0;
  right          : 0;
  bottom         : 0;
  z-index        : 9999;
  content        : '';
  display        : flex;
  align-items    : center;
  justify-content: center;
  background     : rgba(255, 255, 255, .8);
}

.clean-list {
  list-style: none;

  li {
    padding: 5px;
    
    &:nth-child(odd) { background: rgba(0,0,0,.05); }
  }
}