.hidden { display: none; }
.soft-hidden {
  opacity   : 0;
  visibility: hidden;
}

.flex {
  display: flex;

  &-grow { flex-grow: 1; }
}

.text-right { text-align: right; }
.text-white {
  & > * {
    color: white;
    &-hover:hover { color: white; }
  }
}
.text-asphalt {
  & > * {
    color: $asphalt;
    &-hover:hover { color: $asphalt; }
  }
}

.bg-nephritis { background: $nephritis; }