@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?23300718');
  src: url('fonts/icons.eot?23300718#iefix') format('embedded-opentype'),
       url('fonts/icons.woff2?23300718') format('woff2'),
       url('fonts/icons.woff?23300718') format('woff'),
       url('fonts/icons.ttf?23300718') format('truetype'),
       url('fonts/icons.svg?23300718#icons') format('svg');
  font-weight: normal;
  font-style : normal;
}
 
[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family            : "icons";
  font-style             : normal;
  font-weight            : normal;
  speak                  : none;
  display                : inline-block;
  text-decoration        : inherit;
  width                  : 1em;
  margin-right           : .2em;
  text-align             : center;
  font-variant           : normal;
  text-transform         : none;
  line-height            : 1em;
  margin-left            : .2em;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-check::before { content: '\e800'; }
.icon-cancel::before { content: '\e801'; }
.icon-trash::before { content: '\e806'; }
.icon-warning::before { content: '\e807'; }
.icon-edit::before { content: '\e808'; }