.list {

  &--empty { padding: 20px; }

  &__item {
    display: flex;

    &--title {
      font-size  : 14px;
      font-weight: bold;
    }

    &__header {
      flex-grow      : 1;
      padding        : 20px;
      text-decoration: none;
      transition     : .2s;

      &:hover { background: lighten($clouds, 4%); }
    }

    &__actions {
      display: flex;
      justify-content:stretch;
      align-items:stretch;

      .btn-icon { font-size: 15px; }
      
      &__rounded {
        width          : 40px;
        align-items    : center;
        justify-content: center;

        .btn {
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
      }
    }

    &:not(:last-of-type) { border-bottom: 2px solid $clouds; }
  }
}