.modal {
  position  : fixed;
  top       : 50%;
  left      : 50%;
  z-index   : 2;
  transform : translate3d(-50%, -100%, 0);
  width     : 600px;
  background: $clouds;

  &__header {
    color     : white;
    background: $asphalt;
    padding   : 20px;
  }

  &__content { padding: 20px; }

  &__footer {
    display        : flex;
    justify-content: flex-end;
    padding        : 10px 20px;
    background     : $asphalt;

    button { margin-left: 20px; }
  }
}