[data-tooltip] { position: relative; }

.tooltip {
  position     : absolute;
  right        : 100%;
  top          : 50%;
  z-index      : 2;
  transform    : translateY(-50%);
  background   : rgba(0, 0, 0, .8);
  color        : white;
  margin-right : 10px;
  padding      : 5px 10px;
  border-radius: 3px;
  transition   : .2s;
  white-space  : nowrap;

  &::after {
    position     : absolute;
    right        : -5px;
    top          : 50%;
    transform    : translateY(-50%);
    content      : '';
    border-top   : 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left  : 5px solid rgba(0, 0, 0, .8);
  }

  &-top {
    top          : auto;
    right        : auto;
    bottom       : 100%;
    transform    : none;
    margin-right : 0;
    margin-bottom: 10px;

    &::after {
      top          : auto;
      left         : 50%;
      right        : auto;
      bottom       : -5px;
      transform    : translateX(-50%);
      border-bottom: 0;
      border-right : 5px solid transparent;
      border-left  : 5px solid transparent;
      border-top   : 5px solid rgba(0, 0, 0, .8);
    }
  }

  &-bottom {
    top         : 100%;
    right       : auto;
    bottom      : auto;
    transform   : none;
    margin-right: 0;
    margin-top  : 10px;

    &::after {
      top          : -5px;
      left         : 50%;
      right        : auto;
      bottom       : auto;
      transform    : translateX(-50%);
      border-top   : 0;
      border-right : 5px solid transparent;
      border-left  : 5px solid transparent;
      border-bottom: 5px solid rgba(0, 0, 0, .8);
    }
  }

  &-right {
    right       : auto;
    left        : 100%;
    margin-right: 0;
    margin-left : 10px;

    &::after {
      right       : auto;
      left        : -5px;
      border-left : 0;
      border-right: 5px solid rgba(0, 0, 0, .8);
    }
  }
}